__pycache__/
*.pyc
.env
node_modules/
frontend-react/node_modules/
frontend-react/dist/
.gcloud/
*.json
!package.json
!package-lock.json
frontend/assets/
frontend/index.html
frontend/vite.svg
firebase-debug.log
